/* Hide sponsor banner */
.heroWrapper__955a3 {
    display: none;
}
/* hiding the top container with a transition to make the tiles just a bit smaller and less busy. */
[id^="quest-tile-"] .container_b5b7aa {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease-in-out;
}
